<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top">
      <div class="container header-line">

          <%=link_to "ALUTTE", root_path, class:"navbar-brand"%>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class ="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
              <li class="nav-link text-dark"> How to </li>
              <li class="nav-link text-dark"> ALUTTEとは？ </li>
              <li class="nav-link text-dark"> Q&A </li>
              <% if user_signed_in? %>
                <%=link_to "logout", destroy_user_session_path, class:"li nav-link text-dark",method: :delete %>
              <% else %>
                <%=link_to "sign up", new_user_registration_path, class:"li nav-link text-dark" %>
                <%=link_to "login", new_user_session_path, class:"li nav-link text-dark" %>
              <% end %>
          </ul>
          <form class="search form-inline mt-2 mt-md-0">
              <div class="input-group">
              <input placeholder="キーワードを入力" class="form-control mt-1" type="text">
              <button class="point btn btn-outline-light" type="submit"><strong>検索</strong></button>
              </div>
          </form>
          <ul> </ul>
        </div>
      </div>
  </nav>
</header>
<div class="box">
  <div class="box-inner">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
    <h1 class="text-center">パスワード<br>再発行フォーム</h1>
      <div class="box-email">
        <%= f.label :email,"登録のEメール" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        <% if resource.errors.include?(:email)%>
          <p style="color: red">登録のEメールを入力してください
        <% end %>
      </div>
      <div class="box-login">
        <%= f.submit "再発行用のEメールを送信" %>
      </div>
    <% end %>

    <div class="box-newusr mb-3">
      <p><span>-----</span> ALUTTEのアカウントをお持ちですか？ <span>-----</span></p>
      <%= link_to "ALUTTEにログイン", new_user_session_path %>
    </div>
    <div class="box-newusr">
      <p><span>-----</span> ALUTTEのご利用ははじめてですか？ <span>-----</span></p>
      <%= link_to "ALUTTEアカウントを作成", new_user_registration_path %>
    </div>
  </div>
</div>

